@import './reset', './import';

:root {
  font-size: 62.5%;
  --base-font-size: 1.4rem;

  --max-width: 1280px;
  --border-radius: 1rem;
  --font-mono: 'poppins-regular', sans-serif;
  --font-bold: 'poppins-bold', sans-serif;
  --font-semibold: 'poppins-semiBold', sans-serif;
  --font-thin: 'poppins-thin', sans-serif;

  --white-color: #FFFFFF;
  --black-color: #121212;
  --lightGrey-color: #E8EAEE;
  --darkGrey-color: #80848A;

  --primary-color: #FFA503;
  --secondary-color: #FFC62A;
  --tertiary-color: #5C0099;

  --violet-color: #DDB4FF;
  --pink-color: #FD336C;
  --cream-color: #F9DBD1;
  --nude-color: #FEE5CF;

  --button-borderRadius: 5rem;
  --button-fontSizeMobile: 1.6rem;
  --button-fontSizeDesktop: 1.8rem;
  --button-backgroundColor: var(--primary-color);
  --button-backgroundColor-hover: var(--secondary-color);
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: var(--font-mono);
}

body {
  font-size: var(--base-font-size);
}

// Tailles des titres
h1,
h2,
h3,
h4 {
  font-family: var(--font-bold);
}

h1 {
  @include heading(mobileH1);

  @include mq($from: desktop) {
    @include heading(desktopH1);
  }
}

h2 {
  @include heading(mobileH2);

  @include mq($from: desktop) {
    @include heading(desktopH2);
  }
}

h3 {
  @include heading(mobileH3);

  @include mq($from: desktop) {
    @include heading(desktopH3);
  }
}

h4 {
  @include heading(mobileH4);

  @include mq($from: desktop) {
    @include heading(desktopH4);
  }
}

p,
span {
  @include text(mobileSmall);

  @include mq($from: desktop) {
    @include text(desktopLarge);
  }
}

button {
  font-family: var(--font-bold);
  font-size: var(--button-fontSizeMobile);
  border-radius: var(--button-borderRadius);
  padding: 1.95rem 3.2rem;
  text-align: center;

  @include mq($from: desktop) {
    font-size: var(--button-fontSizeDesktop);
    padding: 1.6rem 3.2rem;
  }

  &:hover {
    transition: all 0.3s ease;

    &:disabled,
    &[disabled] {
      color: var(--lightGrey-color);
      background-color: var(--darkGrey-color);
    }
  }

  &:disabled,
  &[disabled] {
    color: var(--lightGrey-color);
    background-color: var(--darkGrey-color);
  }
}

.sr-only {
  position: absolute;
  left: -9999rem;
  height: 0;
  width: 0;
}