@import './variables.scss';

// Fonction pour générer les media queries
@function media-query($breakpoint) {
  $breakpoint-values: (
    "mobile-xs": "(min-width: 375px)",
    "mobile": "(min-width: 576px)",
    "tablet": "(min-width: 768px)",
    "desktop": "(min-width: 1024px)",
    "desktop-lg": "(min-width: 1440px)",
    "desktop-xl": "(min-width: 1920px)"
  );

@return map-get($breakpoint-values, $breakpoint);
}

// Mixin pour les breakpoints
@mixin breakpoint($breakpoint) {
  @media #{media-query($breakpoint)} {
    @content;
  }
}

// Mixin pour les titres
@mixin heading($size) {
  font-size: map-get($heading-font-size, $size);
}

// Mixin pour les textes
@mixin text($size) {
  font-size: map-get($text-font-size, $size);
}

@mixin button($color, $bgColor, $colorHover, $bgColorHover) {
  color: $color;
  background-color: $bgColor;

  &:hover {
    color: $colorHover;
    background-color: $bgColorHover;
  }
}

@mixin buttonPrimary() {
  @include button(var(--white-color), var(--primary-color), var(--white-color), var(--secondary-color));
}

@mixin buttonSecondary() {
  @include button(var(--primary-color), var(--white-color), var(--white-color), var(--secondary-color));
}

@mixin buttonTertiary() {
  @include button(var(--darkGrey-color), 'none', var(--black-color), var(--nude-color));
}