*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

input {
  border: 0;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: 0.2rem solid var(--defaultInput-outlineColor);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 3rem white inset !important;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

strong {
  font-weight: 700;
}