@font-face {
  font-family: 'poppins-thin';
  src: url('/fonts/poppins-thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'poppins-regular';
  src: url('/fonts/poppins-regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'poppins-semiBold';
  src: url('/fonts/poppins-semiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'poppins-bold';
  src: url('/fonts/poppins-bold.ttf') format('truetype');
  font-weight: 700;
}