@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.home {
  &Main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: background-color 0.3s ease;

    &Scrolled {
      background-color: rgba(0, 0, 0, .5);
    }
  }

  &Center {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Feature {
    margin-top: 11rem;
  }

  &CommunitFeature {
    margin-top: 6.8rem;
  }

  &CatchPhrase {
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
  }

  &Feature,
  &CommunityFeature,
  &CatchPhrase {
    @include breakpoint(desktop-lg) {
      margin-left: 24rem;
      margin-right: 24rem;
    }
  }

  &Footer {
    width: 100%;
  }
}